body{
  color: white;
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  height: 100vh;

}
h1{
  text-align: center;
  font-size: 70px;
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 4px;
  margin-top: 40px;
}
img{
  border-radius: 8px;
}
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s;
  height: 100vh;
  justify-content: center;
margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}
.container span{
  position: absolute;
  transform: rotateY(calc(var(--i) *45deg)) translateZ(500px);
}
.buttons{
  margin: 0 auto;
}
button{
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    transition: 1s;
    width: 185px;
    margin: 70px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 17px;
    background: linear-gradient(90deg, rgb(0, 102, 204) 0%, rgb(197, 0, 204) 100%);
    --hover-width: 200px;
    }
    button:hover{
    width: 200px;
    background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    }